<section >
			<ul class="nav nav-tabs">
				<li ng-class="{ active:tab.isSet(1) }"><a href="" ng-click="tab.setTab(1)">Length</a></li>
				<li ng-class="{ active:tab.isSet(2) }"><a href="" ng-click="tab.setTab(2)">Weight</a></li>
				<!-- <li ng-class="{ active:tab.isSet(3) }"><a href="" ng-click="tab.setTab(3)">Area</a></li>
				<li ng-class="{ active:tab.isSet(4) }"><a href="" ng-click="tab.setTab(4)">Volume</a></li>
				<li ng-class="{ active:tab.isSet(5) }"><a href="" ng-click="tab.setTab(5)">Speed</a></li> -->
				<!-- <li ng-class="{ active:tab.isSet(3) }"><a href="" ng-click="tab.setTab(3)">Temperature</a></li> -->
			</ul>
		</section>